.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.d-inline {
  display: inline-block;
}

// components/Tree styles
.d-tree-container {
  list-style: none;
  padding: 0;
}

.d-tree-node {
  padding: 0.2rem 1.25rem;
}

.d-tree-toggler.active {
  transform: rotate(45deg);
}
